*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    min-height: 300px;
    /* border: 1px solid black; */
    background: white;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(156, 219, 227, 1) 75%,
        rgba(0, 192, 215, 1) 100%
    );
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}